{% extends "base.html" %}

{% block body %}
    <h1>Bedankt voor uw feedback!</h1>    
    {% if feedback.feedback_type == 'positief' %}
        <p>We nemen uw positieve feedback mee.</p>
    {% elif feedback.feedback_type == 'negatief'%}
        <p>We gaan met uw negatieve feedback aan de slag!</p>
    {% endif %}

    {% if feedback.meldr_nummer %}
        <p>Uw meldingsnummer was: {{feedback.meldr_nummer}}</p>
    {% endif %}

    {% if DEBUG and feedback.aanmaakdatum %}
    <h5>Extra developer info</h5>
    <p>
        Aangemaakt op {{ feedback.aanmaakdatum|date:"j F Y H:i" }}.<br/>
        Feedback was {{feedback.feedback_type}}.
    </p>
    {% endif %}

    <a href="https://meldr.rotterdam.nl/" class="btn btn-action">
        <span>Nog een melding maken</span>
    </a>
{% endblock %}
