<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description"
              content="Applicatie oor het verwerken van Feedback van MOR na het klikken van een duimpje in een MeldR email. Geeft metrics door aan Grafana.">
        <meta name="keywords"
              content="MOR, Meldingen openbare ruimte, gemeente Rotterdam, Feedback">
        <title>Debug</title>
    </head>
    <body>OK</body>
</html>
