{% extends "base.html" %}
{% block title %}
    Home | Feedback
{% endblock title %}
{% block body %}
    <div class="border-green print-only"></div>
    <div class="page__detail">
        <div data-controller="detail">
            <div class="grid-container">
                <div class="grid-item">
                    <div>
                        <h1>Home</h1>
                    </div>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <section class="section--seperated">
                        {% if not request.user.is_authenticated %}
                            <a href="{% url 'login' %}"
                               class="btn btn-action"
                               target="_top"
                               data-turbo="false">Log in</a>
                        {% else %}
                            <p>Je bent ingelogd</p>
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
